<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Add Department</title>

    <link rel="stylesheet" th:href="@{/bootstrap-5.3.3-dist/bootstrap-5.3.3-dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap-icons-1.11.3/bootstrap-icons-1.11.3/font/bootstrap-icons.min.css}">
    <link rel="stylesheet" th:href="@{/css/invetory.css}">
</head>

<body>

<!-- HAMBURGER -->
<div class="hamburger" onclick="toggleSidebar()">
    <i class="bi bi-list"></i>
</div>

<!-- SIDEBAR -->
<div class="sidebar" id="sidebar">

    <div class="profile-box">

		<div class="profile-wrapper">
			<a 
		     onclick="openImagePopup('adminProfileImg', 'imagePopup', 'popupImage')">

		    <img id="adminProfileImg"
		         th:src="@{/admin/profile-image}"
		         alt="Profile Image"
		         class="profile-img"
		         onerror="this.style.display='none';
		         this.insertAdjacentHTML('afterend','<i class=\'bi bi-person-circle\' style=\'font-size:50px;color:#6c757d;\'></i>');">
			</a>
		

		<i class="bi bi-pencil-fill edit-icon"
		   onclick="document.getElementById('imageInput').click()"></i>

        <input type="file" id="imageInput" name="imageFile"
               accept="image/*"
               hidden
               onchange="uploadProfileImage(this)">
		</div>
    </div>

    <h6 class="text-white" th:text="${username}"></h6>

    <a class="sidebar-a" href="/adminDash"><i class="bi bi-speedometer2"></i> Dashboard</a>
    <a class="sidebar-a" href="/addWorker"><i class="bi bi-plus-circle"></i> Add HoD</a>
    <a class="sidebar-a" href="/add"><i class="bi bi-plus-circle"></i> Add Department</a>
    <a class="sidebar-a" href="/department"><i class="bi bi-journal-bookmark"></i> Departments</a>
	<a class="sidebar-a" href="/hods"><i class="bi-person-badge"></i> HoDs</a>
    <a class="sidebar-a btn btn-success text-white" th:href="@{/generate-report}" target="_blank">PDF Report</a>
    <a class="sidebar-a" href="/change-password"><i class="bi bi-key"></i> Change Password</a>
    <a class="sidebar-a" href="/logout"><i class="bi bi-box-arrow-left"></i> Logout</a>

</div>
<!-- MAIN PAGE -->
<div class="dept-page">

    <div class="dept-card">

        <h3 class="text-center mb-4">Add New Department</h3>

        <form th:object="${department}" th:action="@{/departments/add}" method="post">

            <!-- Department Name -->
            <div class="mb-3">
                <label class="form-label">Department Name</label>
                <input type="text"
                       th:field="*{deptName}"
                       class="form-control"
                       placeholder="Enter department name"
                       required>
            </div>

            <!-- BUTTON -->
            <button class="btn btn-success w-100">
                Save Department
            </button>

            <!-- MESSAGES -->
            <div th:if="${errorMessage}" class="alert alert-danger mt-3">
                <span th:text="${errorMessage}"></span>
            </div>

            <div th:if="${param.success}" class="alert alert-success mt-3">
                Department added successfully!
            </div>

        </form>

    </div>

</div>

<!-- POPUP -->
<div id="imagePopup" class="image-popup" style="display:none;">
	<div class="popup-box">
	    
	    <span class="close-btn" onclick="closeImagePopup('imagePopup')">&times;</span>
    	<img id="popupImage" class="popup-image">
	</div>
</div>

<script th:src="@{/bootstrap-5.3.3-dist/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/invetory.js}"></script>

</body>
</html>